.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    color: #ff6347;
}

.titulo_paragrafo {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #2d7f8d;
}

.msg_mulher{
    color: pink;
}

.msg_homem{
    color: lightblue;
}